@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Carter+One&family=Caveat&family=Libre+Baskerville:ital@1&display=swap');

body {
    background-image: url("./image/quairaing-540122_1920.jpg");
    background-attachment: fixed;
}

#navBar {
    margin-top: 10px;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 2.5rem;
    width: 100%;
    gap: 3rem;
}

#navBar > div {
    display: flex;
    gap: 10px;
    height: 2.5rem;
}

#navBar > div > a {
    font-family: "Carter One";
    font-size: 1rem;
    color: #1B1A17;
    text-decoration-line:none;
    align-self: flex-end;
    margin-right: 20px;

}

#navBar > div > img {
    align-self: center;
    border-radius: 5px;
    margin: 10px;
}


body {
    padding: 0;
    margin: 0;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}
.search {
    position: absolute;
    margin-top: 250px;
    width: 60%;
    height: 35px;
    border-radius: 25px;
    border: white;
    padding: 5px 5px 5px 20px;
    &:hover{
        border-style: solid;
        border-color: #4F4A45;
    }
}

.searchFix{
    position: fixed;
    margin-top: 13px;
}
.logo {
    margin-top: 90px;
    position: absolute;
    font-family: "Carter One";
    font-size: 50px;
    color: white;
}
.logoHidden{
    display: none;
}

.hikes {
    position: relative;
    margin-top: 300px;
    border-radius: 10px;
    background-color: white;
    width: 80%;
    height: 90%;
}
#hike{
    padding: 20px;
    display: inline-flex;
    flex-flow: wrap;
    justify-content: space-around;


}
#hikename {
    list-style: none;
}

#image-container {
    height: 10px;
}

.indexhike:hover > a > img {
    box-shadow: 2px 2px 6px #776B5D, 4px 4px 12px #B0A695, 6px 6px 24px #EBE3D5;
}

.indexhike > a > img {
    height: 150px;
    width: 250px;
    margin-top: 10px;
}

.indexhike:hover > a > div {
    text-shadow:2px 2px 6px #776B5D, 4px 4px 12px #B0A695, 6px 6px 24px #EBE3D5;;
}

.indexhike > a > div {
    font-family: "Carter One";
    color: black;
}
.indexhike > a {
    text-decoration: none;
}

.indexhike {
    padding: 10px;
    width: 30%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}


@media (max-width: 1210px) {

    .indexhike > a > img {
        height: 100px;
        width: 200px;
        margin-top: 10px;
    }

    #navBar > div > a {
        font-size: 15px;
    }
    .hikes {
        width: 65%;
    }
}
@media (max-width: 1024px) {
    body {
        background-image: url("./image/mountain-4385430_1920.jpg");
        background-attachment: fixed;
    }

}
@media (max-width: 700px) {


    .indexhike > a > img {
        height: 60px;
        width: 110px;
        margin-top: 10px;
    }

    .indexhike > a {
        font-size: 22%;
    }
    #navBar > div > a {
        font-size: 10px;
    }
    .hikes {
        width: 65%;
    }
}









