@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Carter+One&family=Caveat&family=Libre+Baskerville:ital@1&display=swap');

body {
    background-image: url("./image/quairaing-540122_1280.jpg");
    background-attachment: fixed;
}

#navBar {
    margin-top: 10px;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 2.5rem;
    width: 100%;
    gap: 3rem;
}

#navBar > div {
    display: flex;
    gap: 10px;
    height: 2.5rem;
}

#navBar > div > a {
    font-family: "Carter One";
    font-size: 1rem;
    color: white;
    text-decoration-line:none;
    align-self: flex-end;
}

#navBar > div > img {
    align-self: center;
    border-radius: 5px;
    margin: 10px;
}


body {
    padding: 0;
    margin: 0;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}
#search {
    position: fixed;
    margin-top: 250px;
    width: 60%;
    height: 35px;
    border-radius: 25px;
    border: white;
    padding: 5px 5px 5px 20px;
}
.box > h1 {
    margin-top: 90px;
    position: fixed;
    font-family: "Carter One";
    font-size: 50px;
    color: white;
}

.hikes {
    position: relative;
    margin-top: 300px;
    border-radius: 10px;
    background-color: white;
    width: 80%;
    height: 90%;
}
#hike{
    padding: 20px;
    display: inline-flex;
    flex-flow: wrap;
    gap: 20px;

}
#hikename {
    list-style: none;
}

#image-container {
    height: 10px;
}
.indexhike > a > img{
    height: 150px;
}
.indexhike > a > div {
    font-family: "Carter One";
    color: black;

}
.indexhike > a {
    text-decoration: none;
}

.indexhike {
    padding: 10px;
}









