@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Carter+One&family=Caveat&family=Libre+Baskerville:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bangers&family=Carter+One&family=Caveat&family=Libre+Baskerville:ital@1&display=swap');

body {
    background-image: url("../image/quairaing-540122_1920.jpg");
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 1.25fr 0.75fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0;
}

.nav {
    margin-top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    gap: 3rem;
    grid-row-start: 1;
    z-index: 5;
}

.fixedNav {
    background-color: #B2A59B;

}


.hiddenNav{
    display: none;
}

#navBar > div {
    display: flex;
    gap: 10px;
    height: 2.5rem;
}

#navBar > div > a {
    font-family: "Carter One";
    font-size: 1rem;
    color: white;
    text-decoration-line:none;
    align-self: flex-end;
}

.nav > div > img {
    align-self: center;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 10px;
}


#dHike{
    display: flex;
    flex-direction: column;
}

.hikeContainer:hover > a > img {
        box-shadow: 2px 2px 6px #776B5D, 4px 4px 12px #B0A695, 6px 6px 24px #EBE3D5;
}

.hikeContainer > a > img {
    height: 150px;
    width: 250px;

}

.hikeContainer:hover > a > div {
    text-shadow: 2px 2px 6px #776B5D, 4px 4px 12px #B0A695, 6px 6px 24px #EBE3D5;
}

.hikeContainer > a > div {
    font-family: "Carter One";
    font-size: 20px;
    color: black;
    text-decoration-line: none;
    margin-bottom: 20px;

}
.hikeContainer {
    background-color: white;
    position: relative;
    margin-top: 50px;
    margin-left: 100px;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 1.5fr 1.5fr;
    grid-template-rows: 1fr;
    gap: 20px;
}
.hikeTag{
    grid-area: 1/1/1/1;
    text-decoration: none;
}
.dhike {
    grid-area: 1/2/1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.dhike > div {
    font-family: "Archivo Black";

}
#dHike{
    position: absolute;
    width: 50%;
    margin-top: 200px;
}
.monthsList {
    grid-area: 1/3/1/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: "Archivo Black";
    font-size: 12px;
}
.monthsList > li {
    list-style-type: none;
    font-family: "Archivo Black";
    font-size: 16px;
    padding: 3px;
}

.fix{
    position: absolute;
    border-radius: 10px;
    width: 47%;
    height: 30px;
    margin-top: 100px;
    margin-left: 100px;
    border-color: white;
    border-style: none;
    padding: 5px 5px 5px 10px;
}

.fixed {
    position: fixed;
    border-radius: 10px;
    width: 40%;
    height: 30px;
    margin-left: 100px;
    margin-top: 10px;
    border-color: white;
    border-style: none;
    padding: 5px 5px 5px 10px;
    z-index: 10;
}

.dHikeName {
    text-decoration-line:none;
}

.filter {
    background-color: white;
    font-family: "Archivo Black";
    font-size: 16px;
    border-radius: 10px;
    grid-column-start: 2;
    margin-top: 100px;
    width: 400px;
}
.filter > table {
    margin: 20px;
}
.filterButton {
    background-color: #739072;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
}

#region {
    background-color: #D8D9DA;
    border-radius: 5px;
    border-style: none;
    height: 20px;
}
#location {
    background-color: #D8D9DA;
    border-radius: 5px;
    border-style: none;
    height: 20px;
}

.location {
    display: inline-flex;
    gap: 5px;
    padding: 5px;
}
.dLength {
    display: inline-flex;
    gap: 2px;
    padding: 5px;
}
.duration {
    display: inline-flex;
    gap: 4px;
    padding: 5px;
}

.technique {
    padding: 5px;
}

.more {
    align-self: center;
    border-radius: 5px;
}

#toggleFilter{
    background-image: url("../image/icons8-menu-48-transformed.png");
    background-color: transparent;
    background-size: 38px;
    height: 38px;
    width: 38px;
    align-self: center;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    margin-right: 10px;
    cursor: pointer;

}


input[type='range'] {
    width: 210px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    outline: none;
}
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: none;
}
input[type='range']::-webkit-slider-runnable-track {
    width: 200px;
    height: 2px;
    background: #1B1A17;
}

input[type='range']:nth-child(2)::-webkit-slider-runnable-track{
    background: none;
}

input[type='range']::-webkit-slider-thumb {
    position: relative;
    height: 15px;
    width: 15px;
    margin-top: -7px;
    background: #272829;
    border: 2px solid #272829;
    border-radius: 25px;
    z-index: 1;
}


input[type='range']:nth-child(1)::-webkit-slider-thumb{
    z-index: 2;
}

#duration{
    position: relative;
    height: 45px;
    width: 210px;
    font-size: 11px;
    display: inline-flex;
    justify-content: space-between;


}
#duration input{
    position: absolute;
    align-self: center;
}

#distance{
    position: relative;
    height: 45px;
    width: 210px;
    display: inline-flex;
    justify-content: space-between;
    font-size: 11px;

}
#distance input{
    position: absolute;
    align-self: center;
}

#strength{
    position: relative;
    height: 45px;
    width: 210px;
    display: inline-flex;
    justify-content: space-between;
    font-size: 11px;

}
#strength input{
    position: absolute;
    align-self: center;
}

#stamina{
    position: relative;
    height: 45px;
    width: 210px;
    display: inline-flex;
    justify-content: space-between;
    font-size: 11px;

}
#stamina input{
    position: absolute;
    align-self: center;
}

#difficulty{
    position: relative;
    height: 45px;
    width: 210px;
    display: inline-flex;
    justify-content: space-between;
    font-size: 11px;

}
#difficulty input{
    position: absolute;
    align-self: center;
}

#landscape{
    position: relative;
    height: 45px;
    width: 210px;
    display: inline-flex;
    justify-content: space-between;
    font-size: 11px;

}
#landscape input{
    position: absolute;
    align-self: center;
}

#altitude{
    position: relative;
    height: 45px;
    width: 210px;
    display: inline-flex;
    justify-content: space-between;
    font-size: 11px;

}
#altitude input{
    position: absolute;
    align-self: center;
}


