@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Carter+One&family=Caveat&family=Libre+Baskerville:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bangers&family=Carter+One&family=Caveat&family=Libre+Baskerville:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bangers&family=Carter+One&family=Caveat&family=Libre+Baskerville:ital@1&family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bangers&family=Carter+One&family=Caveat&family=Libre+Baskerville:ital@1&family=PT+Sans:wght@400;700&display=swap');


body {
background-color: #F6F1EE;
}

#navBar {
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 2.5rem;
    width: 100%;
    gap: 3rem;
}

#navBar > div {
    display: flex;
    gap: 10px;
    height: 2.5rem;
}

#navBar > div > a {
    font-family: "Carter One";
    font-size: 1rem;
    color: #4F4A45;
    text-decoration-line:none;
    align-self: flex-end;
}

#navBar > div > img {
    align-self: center;
    border-radius: 5px;
    margin: 10px;
}

#selected{

    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100px 100px 200px 50px 50px 100px 50px 100px 200px;

}
.hikeName{
    font-family: "Archivo Black";
    font-size: 40px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-left: 20px;
    display: flex;
    align-content: flex-start;
    color: #1B1A17;
}
.location{

    font-size: 30px;
    grid-area: 2/1/2/1;
    margin-left: 20px;
    display: flex;
    align-content: flex-start;
    color: #1B1A17;
    font-family: "Pt Sans";
    font-weight: bold;     
}
#ww_da6967281f185{
    height: 200px;
    max-width: 480px;
    grid-area: 3/2/3/2;
    padding: 20px;
    border-radius: 10px;

}
#map{
    grid-area: 3/1/6/2;
    border-radius: 10px;


}
.descriptionLabel{
    grid-area: 7/1/7/1;
    padding: 20px;
    font-family: "Pt Sans"; 
    font-weight: bold;
    font-size: 20px;
}
.description {
    grid-area: 8/1/8/1;
    padding: 20px;
    font-family: "Pt Sans";
    font-size: 18px;
}
.hikeImg{
    grid-area: 9/1/9/1;
    margin-left: 20px;
    width: 90%;
    border-radius: 10px;

}

#tour-months {
    grid-area: 5/2/5/2;
    position: relative;
    margin-top: 20px;

}
.tour-month {
    background-color: white;
    border: 1px solid #ececec;
    width: 40px;
    float: left;
    padding: 0;
    overflow: hidden;
    margin-right: -1px;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    font-family: "Pt Sans";
}

.tour-month-selected {
    background-color: #4F6F52;
    color: white;
}
.monthLabel {
    grid-area: 4/2/4/2;
    margin-top: 20px;
    font-family: "Pt Sans"; 
    font-weight: bold;      
    font-size: 20px;        

}
.info {
    grid-area: 6/2/6/2;
    width: 480px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.info2 {
    grid-area: 7/2/8/2;
    display: grid;
    margin-top: 20px;
    grid-template-columns: 220px 220px;
    grid-template-rows: 75px 75px;
}
.technique {
    grid-area: 1/1/1/1;
}
.stamina {
    grid-area: 2/1/2/1;
}
.strength {
    grid-area: 1/2/1/2;
}
.likes {
    display: flex;
    justify-content: flex-end;
}

.leaflet-routing-container{
    display: none;
}
leaflet-bar{
    display: none;
}
leaflet-control{
    display: none;
}

.like {
    height: 30px;
    padding: 20px;
}

.info > div {
    font-family: "Pt Sans";
    font-weight: bold;
    font-size: 30px;
}
.info > div > img {
    height: 30px;
}

.info2 > div {
    font-family: "Pt Sans";
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
}

.leaflet-control-zoom{
    display: none;
}
.likes > a > img {
    height: 30px;
    padding: 20px;
}





